.agency {
    position: relative;
    margin-top: 100px;
    &__container {
        text-align: center;
    }

    &__bcg {
        display: none;
    }

    &__mobile--orange {
        display: none;
    }
    &__mobile--photo {
        display: none;
    }

    &__mobile--points {
        display: none;
    }

    &__head {
        font-weight: 300;
        font-size: 29px;
        line-height: 140%;
    }

    &__mobile--photo{
        position: absolute;
        z-index: 20;
        right: 92px;
        margin-top: 750px;
        
    }

    &__photo {
        margin-top: -750px;
        right: 30px;
        position: absolute;
    }



    &__dicoration {
        position: absolute;
        z-index: 20;
        right: 40px;
        right: 0;
        margin-top: -600px;
    }

    &__orange {
        margin-top: 60px;
        min-height: 836px;
        background-color: var(--TulipTree);
        box-shadow: 0px 4px 20px rgba(57, 57, 57, 0.15);
        border-radius: 0px 200px 200px 0px; 
        margin-right: 360px;
        width: 77vw;
        z-index: 10;

        &--text {
            padding-top: 90px;
        }
    
        &--wrapper {
            p {
                width: 36vw;
                position: relative;
                margin: 85px 400px 94px 140px;
                color: var(--Color-white);
                font-size: 19px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px;
                letter-spacing: 0em;
                text-align: left;
    
    
            }
        }
    }
}

//adaptation

@media (max-width: 1612px)  {
    .agency {
        &__orange {
            &--wrapper {
                p {
                    width: 36vw;
                    position: relative;
                    margin: 85px 400px 94px 140px;
                    color: var(--Color-white);
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 22px;
                    letter-spacing: 0em;
                    text-align: left;
        
        
                }
            }
        }
    }
}

@media (max-width: 1385px)  {
    .agency {
        &__orange {
            &--wrapper {
                p {
                    width: 36vw;
                    position: relative;
                    margin: 85px 400px 94px 140px;
                    color: var(--Color-white);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 22px;
                    letter-spacing: 0em;
                    text-align: left;
        
        
                }
            }
        }
    }
}

@media (max-width: 1256px)  {
    .agency {
        &__orange {
            &--wrapper {
                p {
                    width: 36vw;
                    position: relative;
                    margin: 85px 400px 94px 140px;
                    color: var(--Color-white);
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 22px;
                    letter-spacing: 0em;
                    text-align: left;
        
        
                }
            }
        }
    }
}

@media (max-width: 1152px)  {
    .agency {
        &__orange {
            &--wrapper {
                p {
                    width: 40vw;
                    position: relative;
                    margin: 85px 400px 94px 140px;
                    color: var(--Color-white);
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 22px;
                    letter-spacing: 0em;
                    text-align: left;
        
        
                }
            }
        }

        &__photo {
            margin-top: -710px;
            img {
                width: 450px;
            }
            
        }
    }
}

@media (max-width: 1030px)  {
    .agency {
        &__orange {
            &--wrapper {
                p {
                    width: 40vw;
                    position: relative;
                    margin: 85px 400px 94px 140px;
                    color: var(--Color-white);
                    font-size: 11px;
                    font-weight: 400;
                    line-height: 22px;
                    letter-spacing: 0em;
                    text-align: left;
        
        
                }
            }
        }

        &__photo {
            margin-top: -710px;
            img {
                width: 450px;
            }
            
        }
    }
}

@media (max-width: 1000px)  {
    .agency {
        &__orange {

            &--text {
                padding-top: 70px;
            }
            &--wrapper {
                p {
                    width: 35vw;
                    position: relative;
                    margin: 85px 400px 94px 140px;
                    color: var(--Color-white);
                    font-size: 11px;
                    font-weight: 400;
                    line-height: 22px;
                    letter-spacing: 0em;
                    text-align: left;
        
        
                }
            }
        }

        &__photo {
            margin-top: -710px;
            img {
                width: 420px;
            }
            
        }
    }



    @media (max-width: 932px)  {
        .agency {
            &__orange {
    
                &--text {
                    padding-top: 70px;
                }
                &--wrapper {
                    p {
                        width: 42vw;
                        position: relative;
                        margin: 85px 400px 94px 80px;
                        color: var(--Color-white);
                        font-size: 11px;
                        font-weight: 400;
                        line-height: 22px;
                        letter-spacing: 0em;
                        text-align: left;
            
            
                    }
                }
            }
    
            &__photo {
                margin-top: -710px;
                img {
                    width: 420px;
                }
                
            }
        }
    
    }
}

@media (max-width: 900px)  {
    .agency {
        &__orange {

            &--text {
                padding-top: 70px;
            }
            &--wrapper {
                p {
                    width: 38vw;
                    position: relative;
                    margin: 85px 400px 94px 80px;
                    color: var(--Color-white);
                    font-size: 10px;
                    font-weight: 400;
                    line-height: 22px;
                    letter-spacing: 0em;
                    text-align: left;
        
        
                }
            }
        }

        &__photo {
            margin-top: -690px;
            img {
                width: 400px;
            }
            
        }
    }

}






@media (max-width: 800px) {
    .agency-mobile--wrap {
        padding-left: 50px;
        padding-right: 50px;
    }
   .agency {

    &__item {
        img {
            display: none;
        }
    }

       &__orange--wrapper {
           p {
               width: 400px;
               position: absolute;
               margin-top: 100px;
               margin-left: 60px;
               color: white;
               font-size: 20px;
                line-height: 140%;
           }
        }

        &__top--text {
            display: none;
        }

       
        &__orange {
            display: none;
           position: absolute;
           min-height: 700px;
           z-index: 1;
           border-radius: 0px 250px 250px 0px; 
        }

        &__photo {
           margin-top: 759px;
           right: 60px;
           z-index: 99999;
           
        }
        &__mobile--photo {
            display: block;
        }

       &__mobile--item {
           margin-top: -705px;
           padding-right: 106px;
           padding-left: 10px;

           img {
               width: 62vw;
            }
        }

        &__orange {
           width: 90vw;
        }

        &__bcg {
            margin-top: -700px;
           z-index: 2;
           position: absolute;
            display: block;
            width: 85vw;
            background-color: var(--Color-black);
            border-radius: 0px 250px 250px 0px; 
        }



        &__mobile--orange {
            display: none;
            position: absolute;
            display: block;
            width: 82.3vw;
            height: 75vw;
            right: 0;
            margin-top: 50px;
            background-color: var(--TulipTree);
            box-shadow: 0px 4px 20px rgba(57, 57, 57, 0.15);
            border-radius: 0px 200px 200px 0px;
            transform: matrix(-1, 0, 0, 1, 0, 0);
        }

        &__mobile--dicoration {
            position: absolute;
            padding-top: 500px;
            right: 50px;
        }

        &__mobile--points {
            display: block;
            img {
                width: 25vw;
            }
        }
    }

}

@media (max-width: 741px) {
    .agency {
        &__orange--wrapper {
            p {
                width: 300px;
                position: absolute;
                margin-top: 150px;
                margin-left: 60px;
                color: white;
                font-size: 17px;
                 line-height: 140%;
            }
         }
 
         &__top--text {
             display: none;
         }
 
        
         &__orange {
            position: absolute;
            min-height: 700px;
            z-index: 1;
            border-radius: 0px 250px 250px 0px; 
         }
 
         &__photo {
            margin-top: 759px;
            right: 60px;
            z-index: 99999;
            
         }
         &__mobile--photo {
             display: block;
         }
 
        &__mobile--item {
            margin-top: -705px;
            padding-right: 89px;
            img {
                width: 480px;
             }
         }
 
         &__orange {
            width: 90vw;
         }
 
         &__bcg {
            z-index: 2;
            position: absolute;
             display: block;
             width: 85vw;
             background-color: var(--Color-black);
             border-radius: 0px 250px 250px 0px; 
         }
 
         &__dicoration {
            margin-top: -500px;
         }
 
         &__mobile--orange {
             width: 84.4vw;
             height: 600px;
             right: 0;
             margin-top: 50px;
             position: absolute;
             display: block;
             background-color: var(--TulipTree);
             box-shadow: 0px 4px 20px rgba(57, 57, 57, 0.15);
             border-radius: 0px 200px 200px 0px;
             transform: matrix(-1, 0, 0, 1, 0, 0);
         }
 
         &__mobile--dicoration {
             position: absolute;
             padding-top: 500px;
             right: 50px;
         }
 
         &__mobile--points {
             img {
                 width: 25vw;
             }
         }
     }
 }

 @media (max-width: 697px) {
    .agency {
        &__orange--wrapper {
            p {
                width: 300px;
                position: absolute;
                margin-top: 150px;
                margin-left: 60px;
                color: white;
                font-size: 17px;
                 line-height: 140%;
            }
         }
 
         &__top--text {
             display: none;
         }
 
        
         &__orange {
            position: absolute;
            min-height: 700px;
            z-index: 1;
            border-radius: 0px 250px 250px 0px; 
         }
 
         &__photo {
            margin-top: 759px;
            right: 60px;
            z-index: 99999;
            
         }
         &__mobile--photo {
             display: block;
         }
 
        &__mobile--item {
            margin-top: -705px;
            padding-right: 52px;
            img {
                width: 480px;
             }
         }
 
         &__orange {
            width: 90vw;
         }
 
         &__bcg {
            z-index: 2;
            position: absolute;
             display: block;
             width: 85vw;
             background-color: var(--Color-black);
             border-radius: 0px 250px 250px 0px; 
         }
 
         &__dicoration {
            margin-top: -500px;
         }
 
         &__mobile--orange {
             width: 84.4vw;
             height: 600px;
             right: 0;
             margin-top: 50px;
             position: absolute;
             display: block;
             background-color: var(--TulipTree);
             box-shadow: 0px 4px 20px rgba(57, 57, 57, 0.15);
             border-radius: 0px 200px 200px 0px;
             transform: matrix(-1, 0, 0, 1, 0, 0);
         }
 
         &__mobile--dicoration {
             position: absolute;
             padding-top: 500px;
             right: 50px;
         }
 
         &__mobile--points {
             img {
                 width: 25vw;
             }
         }
     }
 }

 @media (max-width: 644px) {
    .agency {

        &__head {
            font-size: 24px;
        }
        &__orange--wrapper {
            p {
                width: 260px;
                position: absolute;
                margin-top: 150px;
                margin-left: 60px;
                color: white;
                font-size: 15px;
                 line-height: 140%;
            }
         }
 
         &__top--text {
             display: none;
         }
 
        
         &__orange {
            position: absolute;
            min-height: 700px;
            z-index: 1;
            border-radius: 0px 250px 250px 0px; 
         }
 
         &__photo {
            margin-top: 759px;
            right: 60px;
            z-index: 99999;
            
         }
         &__mobile--photo {
             display: block;
         }
 
        &__mobile--item {
            margin-top: -675px;
            margin-right: -16px;
            
            img {
                margin-left: 24px;
                width: 470px;
             }
         }
 
         &__orange {
            width: 90vw;
         }
 
         &__bcg {
            z-index: 2;
            position: absolute;
             display: block;
             width: 85vw;
             background-color: var(--Color-black);
             border-radius: 0px 250px 250px 0px; 
         }
 
         &__dicoration {
            margin-top: -500px;
         }
 
         &__mobile--orange {
             width: 88.4vw;
             height: 600px;
             right: 0;
             margin-top: 50px;
             position: absolute;
             display: block;
             background-color: var(--TulipTree);
             box-shadow: 0px 4px 20px rgba(57, 57, 57, 0.15);
             border-radius: 0px 200px 200px 0px;
             transform: matrix(-1, 0, 0, 1, 0, 0);
         }
 
         &__mobile--dicoration {
             position: absolute;
             padding-top: 500px;
             right: 50px;
         }
 
         &__points {
             img {
                 padding-top: 40px;
                 width: 35vw;

             }
         }
     }
 }

 @media (max-width: 571px) {
    .agency {
        &__orange--wrapper {
            p {
                width: 260px;
                position: absolute;
                margin-top: 150px;
                margin-left: 60px;
                color: white;
                font-size: 15px;
                 line-height: 140%;
            }
         }
 
         &__top--text {
             display: none;
         }
 
        
         &__orange {
            position: absolute;
            min-height: 700px;
            z-index: 1;
            border-radius: 0px 250px 250px 0px; 
         }
 
         &__photo {
            margin-top: 759px;
            right: 60px;
            z-index: 99999;
            
         }
         &__mobile--photo {
             display: block;
         }
 
         &__mobile--item {
            margin-top: -675px;
            margin-right: -76px;
            
            img {
                margin-left: 24px;
                width: 470px;
             }
         }
 
         &__orange {
            width: 90vw;
         }
 
         &__bcg {
            z-index: 2;
            position: absolute;
             display: block;
             width: 85vw;
             background-color: var(--Color-black);
             border-radius: 0px 250px 250px 0px; 
         }
 
         &__dicoration {
            margin-top: -500px;
         }
 
         &__mobile--orange {
             width: 88.4vw;
             height: 600px;
             right: 0;
             margin-top: 50px;
             position: absolute;
             display: block;
             background-color: var(--TulipTree);
             box-shadow: 0px 4px 20px rgba(57, 57, 57, 0.15);
             border-radius: 0px 200px 200px 0px;
             transform: matrix(-1, 0, 0, 1, 0, 0);
         }
 
         &__mobile--dicoration {
             position: absolute;
             padding-top: 530px;
             right: 30px;

             img {
                 width: 30vw;
             }
         }
 
         &__points {
             img {
                 padding-top: 40px;
                 width: 35vw;

             }
         }
     }
 }

 @media (max-width: 529px) {
    .agency {
        &__orange--wrapper {
            p {
                width: 260px;
                position: absolute;
                margin-top: 150px;
                margin-left: 60px;
                color: white;
                font-size: 15px;
                 line-height: 140%;
            }
         }
 
         &__top--text {
             display: none;
         }
 
        
         &__orange {
            position: absolute;
            min-height: 700px;
            z-index: 1;
            border-radius: 0px 250px 250px 0px; 
         }
 
         &__photo {
            margin-top: 759px;
            right: 60px;
            z-index: 99999;
            
         }
         &__mobile--photo {
             display: block;
         }
 
         &__mobile--item {
            margin-top: -675px;
            margin-right: -110px;
            
            img {
                margin-left: 24px;
                width: 470px;
             }
         }
 
         &__orange {
            width: 90vw;
         }
 
         &__bcg {
            z-index: 2;
            position: absolute;
             display: block;
             width: 85vw;
             background-color: var(--Color-black);
             border-radius: 0px 250px 250px 0px; 
         }
 
         &__dicoration {
            margin-top: -500px;
         }
 
         &__mobile--orange {
             width: 88.4vw;
             height: 600px;
             right: 0;
             margin-top: 50px;
             position: absolute;
             display: block;
             background-color: var(--TulipTree);
             box-shadow: 0px 4px 20px rgba(57, 57, 57, 0.15);
             border-radius: 0px 200px 200px 0px;
             transform: matrix(-1, 0, 0, 1, 0, 0);
         }
 
         &__mobile--dicoration {
             position: absolute;
             padding-top: 530px;
             right: 30px;

             img {
                 width: 30vw;
             }
         }
 
         &__points {
             img {
                 padding-top: 40px;
                 width: 35vw;

             }
         }
     }
 }

 @media (max-width: 471px) {
    .agency {
        &__head {
            padding-left: 70px;
            padding-right: 70px;
            font-size: 22px;


        }
        &__orange--wrapper {
            p {
                width: 260px;
                position: absolute;
                margin-top: 150px;
                margin-left: 60px;
                color: white;
                font-size: 15px;
                 line-height: 140%;
            }
         }
 
         &__top--text {
             display: none;
         }
 
        
         &__orange {
            position: absolute;
            min-height: 700px;
            z-index: 1;
            border-radius: 0px 250px 250px 0px; 
         }
 
         &__photo {
            margin-top: 759px;
            right: 60px;
            z-index: 99999;
            
         }
         &__mobile--photo {
             display: block;
         }
 
         &__mobile--item {
            margin-top: -675px;
            margin-right: -145px;
            
            img {
                margin-left: 24px;
                width: 96vw;
             }
         }
 
         &__orange {
            width: 90vw;
         }
 
         &__bcg {
            z-index: 2;
            position: absolute;
             display: block;
             width: 85vw;
             background-color: var(--Color-black);
             border-radius: 0px 250px 250px 0px; 
         }
 
         &__dicoration {
            margin-top: -500px;
         }
 
         &__mobile--orange {
             width: 88.4vw;
             height: 125vw;
             right: 0;
             margin-top: 50px;
             position: absolute;
             display: block;
             background-color: var(--TulipTree);
             box-shadow: 0px 4px 20px rgba(57, 57, 57, 0.15);
             border-radius: 0px 200px 200px 0px;
             transform: matrix(-1, 0, 0, 1, 0, 0);
         }
 
         &__mobile--dicoration {
             position: absolute;
             padding-top: 120vw;
             right: 30px;

             img {
                 width: 30vw;
             }
         }
 
         &__points {
             display: block;
             img {
                 padding-top: 50px;
                 width: 35vw;

             }
         }
     }
 }

 @media (max-width: 471px) {
     .agency {
        &__head {
            padding-left: 50px;
            padding-right: 50px;
            font-size: 22px;
        
        
        }
     }
 }


