.banners {
    padding-top: 77px;
    &__head {
        padding-bottom: 33px;
        font-size: 29px;
        font-weight: 300;
        line-height: 140%;
        text-align: center;
        text-transform: uppercase;
        text-align: center;
    }

    &__container {
        padding: 0;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        width: 50%;
        
    }

    &__article {
        text-align: left;
        // padding-left: 148px;
        padding-top: 239px;
        color: var(--Color-white);

    }

    &__left {
        line-height: 140%;
        
    }
    
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    &__all {
        svg {
            margin-bottom: 0px;
            padding-left: 17px;
            width: 60px;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        margin-right: 13px;
        padding-bottom: 14px;
    }

    &__btn {
        padding-top: -5px;
        padding-left: 67px;
    }

    &__more { 
        display: flex;
        padding-left: 60px;
        align-items: center;
        font-size: 14px;
        font-weight: 600;
        line-height: 100%;
        text-align: center;
        letter-spacing: 0.01em;
        color: var(--MineShaft);
    }

}
.banners-article {

    &__link {
        font-size: 14px;
        font-weight: 400;
        line-height: 140%;
    }
    
    &--left {
        height: 374px;
        background-color: var(--TulipTree);
    }
    

    &--right {
        height: 374px;
        background-color: var(--Fedora);


    }

}

#liRight {
    margin: 0;
    padding: 0;
    
}
#liRights{
    margin: 0;
    padding: 0;
    
}

.hide {
    display: block;
}

.lefts {
    padding-left: 25px;
}

.rights {
    padding-left: 140px;
}



#liRight3,#liRight4,#liRight5,#liRight6,#liRight7,#liRight8,#liRight9,#liRight10 {
    opacity: 0;
  }
  
  #liRight3,#liRight4,#liRight5,#liRight6,#liRight7,#liRight8,#liRight9,#liRight10 {

    opacity: 1;
  
    animation: fadeInFromNone 1s ease-in-out;
  }
  
  @keyframes fadeInFromNone {
    0% {
      display: none;
      opacity: 0;
    }
  
    1% {
      display: block;
      opacity: 0;
    }
  
    100% {
      display: block;
      opacity: 1;
    }
}

//adaptation

@media (max-width: 800px) {
    .banners {
        &__item {
            width: 100%;
        }

        &__title {
            font-size: 16px;
        }

        &__article {
            font-size: 16px;
        }


        

        .banners-article {
            
            &--right {
                background-color: var(--MineShaft);
                text-align: center;
                padding-top: 35px;
                height: 190px;
            }

            &--left {
                padding-top: 35px;
                text-align: center;
                height: 190px;
            }

            &__link {
                font-weight: 300;
                font-size: 16px;
            }
        }
    }

    @media (max-width: 800px) {
        .banners {
            &__head {
                font-size: 20px;
            }
        }

    .rights {
        padding-left: 0;
    }
    .lefts {
        padding-left: 0;
    }

    #orange1, #orange2 {

        background-color: var(--TulipTree);
    }

    #black1, #black2, #black222 {
        background-color: var(--MineShaft); 
        

    }
}
}

@media (max-width: 800px) {
    .banners {
        &__article {
            padding-top: 130px;
        }
        &__title {
            text-align: center;
            padding-left: 0;
            font-size: 25px;
        }
        &__item {
            width: 100%;
        }
    }
    .banners-article__link {
        text-align: center;
        padding-left: 0;
        font-size: 20px;
    }
}

@media (max-width: 453px) {
    .banners {
        &__article {
            padding-top: 130px;
        }
        &__title {
            text-align: center;
            padding-left: 0;
            font-size: 20px;
        }
        &__item {
            width: 100%;
        }
    }
    .banners-article__link {
        text-align: center;
        padding-left: 0;
        font-size: 16px;
    }
}