.footer {

    
    
    margin-top: 90px;

    &__logo {
        margin-top: -65px;
        margin-left: 20px;
        svg {
            fill: var(--Color-white);
        }
        
    }

    &__down {
        margin-top: 405px;
        color: var(--Color-white);
    }

    &__container {
        
        padding: 0;
        height: 424px;
        background-color: var(--MineShaft);
        border-radius: 200px 0px 0px 0px;
    }

    
    &__top {
        display: flex;
        justify-content: center;
        padding-top: 100px;
        padding-left: 100px;


    }

    &__list {
        padding-right: 50px;
    }

    &__link {
        margin-bottom: 19px;
    }

    &__item {
        padding-bottom: 8px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 100%;
        color: var(--Color-white);
    }

    &__column {
        position: relative;
        margin-left: 70px;
        h3 {
            padding-left: 40px;
        }


        svg {
            position: absolute;
            margin-bottom: 100px;
            width: 60px;
            height: 60px;
            margin-top: 14px;
            padding-left: 28px;
            
            

        }
    }

    &__title {
        font-weight: 300;
        font-size: 29px;
        line-height: 100%;
        display: flex;
        align-items: center;
        text-align: right;
        text-transform: uppercase;
        color: var(--Color-white);
        right: 0;
    }

    &__text {
        margin-left: 77px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        display: flex;
        align-items: center;
        text-align: right;
        color: var(--Color-white);
    }

    &__politic {
        padding-top: 32px;
    }

    &__tm {
      padding-top: 105px;  
    }  

    &__arrowTop {
        position: absolute;
        margin-top: 50px;
        left: 165px;
        width: 90px;
        height: 90px;
        background-color: var(#474747);
        border: 1px solid #474747;
        box-sizing: border-box;
        border-radius: 100%;
        

    }

}

#logo__footer {
    margin-left: 20px;
    margin-top: 370px;
}

.footer__mobile {
    display: none;
}

//adaptation 

@media (max-width: 1260px) {
   .footer {
       &__logo {
           width: 10vw;
       }
   }
}

@media (max-width: 1170px) {
    .footer {
        &__logo {
            margin-left: 0;
        }

        &__down {
            margin-left: 0;
        }

        &__column {
            margin-left: 0;
        }
    }
 }

 @media (max-width: 1037px) {
    .footer {
        &__down {
            display: none;
        }

        &__column {
            margin-left: 0;
        }
    }
 }

 @media (max-width: 1037px) {
    .footer {

        &__column {
            margin-left: 0;
            margin-right: -15px;
        }

        &__item {
            font-size: 12px;
        }
    }
 }

 @media (max-width: 800px) {
    .footer {
        &__content {
            position: relative;
        }

        &__list {
            padding-top: 100px;
        }
    }
 }