.hero {
    position: relative;
    height: 100vh;
    // max-width: 700px;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0 253px;
    }

    &__title {
        position: absolute;
        margin: 0;
        padding-top: 113px;
        // margin-left: 840px;
        pointer-events: none;
        user-select: none;
        margin-bottom: 133px;
        width: 850px;
        font-size: 53px;
        font-weight: 700;
        line-height: 90px;
        letter-spacing: 0em;
        text-align: center;
        z-index: 1000;
    }

    &__bottom {
        z-index: 9999999;
        position: relative;
        left: -69px;

        margin-top: 778px;
            
        svg {
            position: absolute;
            top: 0;
            left: -22px;
            right: 0;
            bottom: 0;
            width: 19px;
            height: 19px;
            opacity: 0.5;
        }
    }
    
    &__descr {
        position: absolute;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: -0.6px;
        line-height: 16px;
        color: var(--Fedora);
        opacity: 0.5;
        user-select: none;
        left: 0;
        bottom: 0;
        margin-bottom: 95px;
        // margin-left: 147px;
        z-index: 1000;


    }
}



.paints {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}


//adaptation

@media (max-width: 1920px) {
    .hero {
        &__bottom {
            z-index: 9999999;
            position: relative;
            left: 39px;
    
            margin-top: 678px;
                
            svg {
                position: absolute;
                top: 0;
                left: -22px;
                right: 0;
                bottom: 0;
                width: 19px;
                height: 19px;
                opacity: 0.5;
            }
        }
    }
  }

  @media (max-width: 1518px) {
    .hero {
        &__bottom {
            z-index: 9999999;
            position: relative;
            left: -42px;
    
            margin-top: 678px;
                
            svg {
                position: absolute;
                top: 0;
                left: -22px;
                right: 0;
                bottom: 0;
                width: 19px;
                height: 19px;
                opacity: 0.5;
            }
        }

        &__descr {
            left: 89px;
            margin-bottom: 180px;
        }

        &__bottom {
            z-index: 9999999;
            position: relative;
            left: -43px;
    
            margin-top: 678px;
                
            svg {
                position: absolute;
                top: -83px;
                left: 60px;
                right: 0;
                bottom: 0;
                opacity: 0.5;
            }
        }
    }
  }

  @media (max-width: 1270px) {
    .hero {
        &__bottom {
            z-index: 9999999;
            position: relative;
            left: -47px;
    
            margin-top: 678px;
                
            svg {
                position: absolute;
                top: -83px;
                left: 62px;
                right: 0;
                bottom: 0;
                width: 19px;
                height: 19px;
                opacity: 0.5;
            }

            &__descr {
            left: 89px;
            margin-bottom: 180px;
        }

        &__bottom {
            z-index: 9999999;
            position: relative;
            left: -43px;
    
            margin-top: 678px;
                
            svg {
                position: absolute;
                top: -95px;
                left: -55px;
                right: 0;
                bottom: 0;
                opacity: 0.5;
            }
        }
        }
    }
  }

@media (max-width: 1000px) {
    .hero {
        &__title {
            width: 700px;
            font-size: 4vw;
            line-height: 140%;
        }

        svg {
            margin-top: 10px;
            padding-right: 250px;
            width: 50vw;
        }

        &__descr {
            left: 89px;
            margin-bottom: 180px;
        }

        &__bottom {
            z-index: 9999999;
            position: relative;
            left: -43px;
    
            margin-top: 678px;
                
            svg {
                position: absolute;
                top: -95px;
                left: -55px;
                right: 0;
                bottom: 0;
                opacity: 0.5;
            }
        }
    }
  }

  @media (max-width: 962px) {
    .hero {
        &__bottom {
            z-index: 9999999;
            position: relative;
            left: -43px;
    
            margin-top: 678px;
                
            svg {
                position: absolute;
                top: -95px;
                left: -45px;
                right: 0;
                bottom: 0;
                opacity: 0.5;
            }
        }
    }
    }

  @media (max-width: 917px) {
    .hero {
        &__bottom {
            z-index: 9999999;
            position: relative;
            left: -43px;
    
            margin-top: 678px;
                
            svg {
                position: absolute;
                top: -95px;
                left: -33px;
                right: 0;
                bottom: 0;
                opacity: 0.5;
            }
        }
    }
  }


  @media (max-width: 850px) {
    .hero {
        height: 600px;
        &__title {
            width: 530px;
            font-size: 4vw;
            font-weight: 700;
            line-height: 140%;
        }
        &__descr {
            font-size: 2.6vw;
            left: 6px;
            margin-bottom: 180px;
        }

        &__bottom {
            z-index: 9999999;
            position: relative;
            left: 18px;
    
            margin-top: 778px;
                
            svg {
                position: absolute;
                top: -95px;
                left: -100px;
                right: 0;
                bottom: 0;
                opacity: 0.5;
            }
        }
    }
  }

  @media (max-width: 749px) {
    .hero {
        &__bottom {
            z-index: 9999999;
            position: relative;
            left: 18px;
    
            margin-top: 778px;
                
            svg {
                position: absolute;
                top: -95px;
                left: -75px;
                right: 0;
                bottom: 0;
                opacity: 0.5;
            }
        }
    }
  }

  @media (max-width: 673px) {
    .hero {
        &__bottom {
            z-index: 9999999;
            position: relative;
            left: 18px;
    
            margin-top: 778px;
                
            svg {
                position: absolute;
                top: -95px;
                left: -55px;
                right: 0;
                bottom: 0;
                opacity: 0.5;
            }
        }
    }
  }
  

  @media (max-width: 650px) {
    .hero {
        &__descr {
            font-size: 3.2vw;
            left: -35px;
            margin-bottom: 180px;
        }

        &__bottom {
            z-index: 9999999;
            position: relative;
            left: 86px;
    
            margin-top: 778px;
                
            svg {
                position: absolute;
                top: -95px;
                left: -100px;
                right: 0;
                bottom: 0;
                opacity: 0.5;
            }
        }
    }
  }


@media (max-width: 600px) {
    .hero {
        &__title {
            max-width: 500px;
            font-size: 5vw;
            line-height: 140%;
        }

        svg {
            margin-top: 10px;
            padding-right: 250px;
            width: 50vw;
        }

        &__descr {
            width: 400px;
            font-size: 3.1vw;
            left: -70px;
            margin-bottom: 180px;
        }
        &__bottom {
            z-index: 9999999;
            position: relative;
            left: 133px;
    
            margin-top: 778px;
                
            svg {
                position: absolute;
                top: -95px;
                left: -110px;
                right: 0;
                bottom: 0;
                opacity: 0.5;
            }
        }
    }
  }

  @media (max-width: 550px) {
    .hero {
        &__title {
            width: 500px;
            font-size: 4vw;
            line-height: 140%;
        }
        &__descr {
            font-size: 3.4vw;
            left: -76px;
            margin-bottom: 180px;
        }

        &__bottom {
            z-index: 9999999;
            position: relative;
            left: 138px;
    
            margin-top: 778px;
                
            svg {
                position: absolute;
                top: -95px;
                left: -90px;
                right: 0;
                bottom: 0;
                opacity: 0.5;
            }
        }
    }
  }

  @media (max-width: 512px) {
    .hero {
        &__title {
            width: 400px;
            font-size: 4vw;
            line-height: 140%;
        }
        &__descr {
            font-size: 3.4vw;
            left: -124px;
            margin-bottom: 180px;
        }

        &__bottom {
            z-index: 9999999;
            position: relative;
            left: 135px;
    
            margin-top: 778px;
                
            svg {
                width: 1000px;
                position: absolute;
                top: -95px;
                left: -500px;
                right: 0;
                bottom: 0;
                opacity: 0.5;
            }
        }
    }
  }

  @media (max-width: 509px) {
    .hero {
        &__title {
            margin-right: 0;
            margin-left: 0;
            padding-top: 0px;
            text-align: center;
            max-width: 350px;
            font-size: 4vw;
            line-height: 140%;
        }

        svg {
            margin-top: 10px;
            padding-right: 250px;
            width: 50vw;
        }

        &__descr {
            font-size: 2.8vw;
            left: -135px;
            margin-bottom: 180px;
        }

        &__bottom {
            z-index: 9999999;
            position: relative;
            left: 120px;
    
            margin-top: 778px;

                
            svg {
                position: absolute;
                width: 500px;
                top: -206px;
                left: -220px;
                right: 0;
                bottom: 0;
                opacity: 0.5;
            }
        }
    }
  }
  @media (max-width: 485px) {
    .hero {
        &__title {
            padding-right: 35px;
            text-align: center;
            padding-left: 5px;
            max-width: 340px;
            font-size: 4vw;
            line-height: 140%;
        }

        &__descr {
            font-size: 2.8vw;
            left: -155px;
            margin-bottom: 180px;
        }

        &__bottom {
            z-index: 9999999;
            position: relative;
            left: 120px;
    
            margin-top: 778px;

                
            svg {
                position: absolute;
                width: 500px;
                top: -208px;
                left: -232px;
                right: 0;
                bottom: 0;
                opacity: 0.5;
            }
        }
    }
  }

  @media (max-width: 455px) {
    .hero {
        &__title {
            margin-left: 0;
            padding-top: 0px;
            padding-right: 55px;
            text-align: center;
            padding-left: 5px;
            max-width: 400px;
            font-size: 4vw;
            line-height: 140%;
        }

        &__descr {
            font-size: 3.3vw;
            left: -132px;
            margin-bottom: 180px;
        }

        &__bottom {
            z-index: 9999999;
            position: relative;
            left: 120px;
    
            margin-top: 778px;

                
            svg {
                position: absolute;
                width: 500px;
                top: -208px;
                left: -232px;
                right: 0;
                bottom: 0;
                opacity: 0.5;
            }
        }
    }
  }

  @media (max-width: 420px) {
    .hero {
        &__title {
            margin-left: 0;
            padding-top: 0px;
            padding-right: 95px;
            text-align: center;
            padding-left: 5px;
            max-width: 410px;
            font-size: 4vw;
            line-height: 140%;
        }

        &__descr {
            font-size: 2.9vw;
            left: -170px;
            margin-bottom: 180px;
        }

        &__bottom {
            z-index: 9999999;
            position: relative;
            left: 132px;
    
            margin-top: 778px;

                
            svg {
                position: absolute;
                width: 500px;
                top: -208px;
                left: -232px;
                right: 0;
                bottom: 0;
                opacity: 0.5;
            }
        }
    }
  }

  @media (max-width: 401px) {
    .hero {
        &__title {
            margin-left: 0;
            padding-top: 0px;
            padding-right: 110px;
            text-align: center;
            padding-left: 5px;
            max-width: 380px;
            font-size: 4vw;
            line-height: 140%;
        }

        &__descr {
            font-size: 2.9vw;
            left: -187px;
            margin-bottom: 180px;
        }

        &__bottom {
            z-index: 9999999;
            position: relative;
            left: 132px;
    
            margin-top: 778px;

                
            svg {
                position: absolute;
                width: 500px;
                top: -208px;
                left: -240px;
                right: 0;
                bottom: 0;
                opacity: 0.5;
            }
        }
    }
  }

  @media (max-width: 380px) {
    .hero {
        &__title {
            margin-left: 0;
            padding-top: 0px;
            padding-right: 145px;
            text-align: center;
            padding-left: 5px;
            max-width: 410px;
            font-size: 4vw;
            line-height: 140%;
        }

        &__descr {
            font-size: 2.9vw;
            left: -180px;
            margin-bottom: 180px;
        }

        &__bottom {
            z-index: 9999999;
            position: relative;
            left: 129px;
    
            margin-top: 778px;

                
            svg {
                position: absolute;
                width: 500px;
                top: -208px;
                left: -232px;
                right: 0;
                bottom: 0;
                opacity: 0.5;
            }
        }
    }
  }

  @media (max-width: 358px) {
    .hero {
        &__title {
            margin-left: 0;
            padding-top: 0px;
            padding-right: 145px;
            text-align: center;
            padding-left: 5px;
            max-width: 410px;
            font-size: 4vw;
            line-height: 140%;
        }

        &__descr {
            font-size: 2.9vw;
            left: -193px;
            margin-bottom: 180px;
        }

        &__bottom {
            z-index: 9999999;
            position: relative;
            left: 129px;
    
            margin-top: 778px;

                
            svg {
                position: absolute;
                width: 500px;
                top: -208px;
                left: -232px;
                right: 0;
                bottom: 0;
                opacity: 0.5;
            }
        }
    }
  }

  @media (max-width: 346px) {
    .hero {
        &__title {
            margin-right: 30px;
            text-align: center;
            max-width: 400px;
            font-size: 4vw;
            line-height: 140%;
        }

        &__descr {
            margin-bottom: 180px;
        }
    }
  }

  @media (max-width: 330px) {
    .hero {
        &__title {
            margin-right: 30px;
            text-align: center;
            max-width: 390px;
            font-size: 4vw;
            line-height: 140%;
        }

        &__descr {
            margin-bottom: 180px;
        }
    }
  }

  @media (max-width: 320px) {
    .hero {
        &__title {
            margin-left: 0;
            padding-top: 0px;
            margin-right: 50px;
            text-align: center;
            padding-left: 5px;
            max-width: 360px;
            font-size: 4vw;
            line-height: 140%;
        }

        &__descr {
            font-size: 2.8vw;
            left: -205px;
            margin-bottom: 180px;
        }

        &__bottom {
            z-index: 9999999;
            position: relative;
            left: 126px;
    
            margin-top: 778px;

            
                
            svg {
                position: absolute;
                width: 500px;
                top: -208px;
                left: -232px;
                right: 0;
                bottom: 0;
                opacity: 0.5;
            }
        }
    }
  }




