.main-products {
    &__nav {
        display: flex;
        justify-content: center;
        font-size: 28px;
        font-weight: 400;
        padding-top: 29px;
        margin-bottom: 45px;
    }

    &__list {
        padding-top: 34px;
    }

}

.products-grid {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;

    &__item {
        margin-right: 30px;
        margin-bottom: 60px;

        // &:nth-child(4n) {
        //     margin-right: 0;
        // }
    }
}



.owl-dot {
    color: red;
}
.active {
    color: var(--YelOrange);
}


//adaptation

@media (max-width: 1920px) {
    .products-grid {
        display: flex;
        flex-wrap: wrap;
        max-width: 1920px;
        justify-content: center;
        padding-left: 200px;
        padding-right: 200px;
    
        &__item {
            margin-right: 30px;
            margin-bottom: 60px;
    
            // &:nth-child(4n) {
            //     margin-right: 0;
            // }
        }
    }
  }

  @media (max-width: 1676px) {
    .products-grid {
        display: flex;
        flex-wrap: wrap;
        max-width: 1920px;
        justify-content: center;
        padding-left: 80px;
        padding-right: 80px;
    
        &__item {
            margin-right: 30px;
            margin-bottom: 60px;
    
            // &:nth-child(4n) {
            //     margin-right: 0;
            // }
        }
    }
  }

  @media (max-width: 1435px) {
    .products-grid {
        display: flex;
        flex-wrap: wrap;
        max-width: 1920px;
        justify-content: center;
        padding-left: 0px;
        padding-right: 0px;
    
        &__item {
            margin-right: 30px;
            margin-bottom: 60px;
    
            // &:nth-child(4n) {
            //     margin-right: 0;
            // }
        }
    }
  }

  @media (max-width: 800px) {
    .products-grid {
        display: inline-block;
        max-width: 1920px;
        justify-content: center;
    
        &__item {
            margin-right: 30px;
            margin-bottom: 60px;

    
            // &:nth-child(4n) {
            //     margin-right: 0;
            // }
        }
    }
  }

  @media (max-width: 550px) {
    .main-products {
       &__text {
           font-size: 4.5vw;
       }
    }
  }

  @media (max-width: 492px) {
    .main-products {
       &__text {
           font-size: 4.2vw;
       }
    }
  }

  @media (max-width: 471px) {
    .main-products {
       &__text {
           font-size: 4.0vw;
       }
    }
  }

  @media (max-width: 454px) {
    .main-products {
       &__text {
           font-size: 3.3vw;
       }
    }
  }

  @media (max-width: 417px) {
    .main-products {
       &__text {
           font-size: 3.5vw;
       }
    }
  }

  @media (max-width: 395px) {
    .main-products {
       &__text {
        font-size: 3.5vw;
       }
    }
  }

  @media (max-width: 370px) {
    .main-products {
       &__text {
        font-size: 3.5vw;
       }
    }
  }

  @media (max-width: 320px) {
    .products-grid__item {
      display: flex
    }
  }

  

