// COLORS
:root {
  --MarigoldYellow: #FAE071;
  --Casablanca: #F7CB46;
  --TulipTree: #F2A83D;
  --Thunderbird: #B6361C;
  --PaleSlate: #D0CACE;
  --Fedora: #6F656E;
  --WhiteGreen: #FFFDF6;
  --Color-black: #000;
  --Color-white: #FFFFFF;
  --MineShaft: #302D2D;
  --MineShaft: #393939;
  --Greey: #C4C4C4;
  --YelOrange: #F4933C;
  --color-dark: #1E2A2D;
}
